@font-face {
    font-family: "Candara";
    src: url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot");
    src: url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.svg#Candara")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Candara";
}

body {
    width: 100%;
    height: 100%;
    --background-color: #d8f1f5;
    --calcBody: black;
    --mainText: black;
    --buttonsColor: #262834;
    --calcText: white;
    --hoverColor: rgba(71, 78, 104, 0.8);
    --fontSize: 2rem;
    --iconSize: 1.8rem;
    --toggleButtonW: 60px;
    --toggleButtonH: 30px;
    --toggleKnob: 26px;
    --equalFont: 2rem;
    --resultFont: 3rem;
    --inputFont: 1.5rem;
    --blueCharFont: 1.2rem;
}

body.dark {
    --background-color: #262834;
    --calcBody: white;
    --buttonsColor: #d8f1f5;
    --calcText: black;
    --hoverColor: #96C9DC;
}

body {
    font-family: "Candara";
    background-color: var(--background-color);
    color: var(--calcBody);
    --calcHeight: 600px;
    --calcWidth: 350px;
    --transitionDelay: 1s;
    transition: var(--transitionDelay);
}

header {
    text-align: center;
}

/* Responsiveness */

@media screen and (max-width:960px) {
    body {
        --calcHeight: 550px;
        --calcWidth: 300px;
        --equalFont: 1.7rem;
        --resultFont: 2.5rem;
        --inputFont: 1.4rem;
        --blueCharFont: 1.1rem;
    }
}

@media screen and (max-width:720px) {
    body {
        --calcHeight: 530px;
        --calcWidth: 270px;
        --fontSize: 1.5rem;
        --iconSize: 1.6rem;
        --toggleButtonW: 50px;
        --toggleButtonH: 25px;
        --toggleKnob: 21px;
        --equalFont: 1.4rem;
        --resultFont: 2rem;
        --inputFont: 1.3rem;
        --blueCharFont: 1.0rem;
    }

}

/* @media screen and (max-width:540px) {
    body {
        --calcHeight: 490px;
        --calcWidth: 240px;
        --fontSize: 1.3rem;
        --iconSize: 1.4rem;
        --toggleButtonW: 40px;
        --toggleButtonH: 20px;
        --toggleKnob: 16px;
        --equalFont: 1.1rem;
        --resultFont: 1.5rem;
        --inputFont: 1.2rem;
        --blueCharFont: 0.9rem;
    }
} */

/* @media screen and (max-width:420px) {
    body {
        --calcHeight: 490px;
        --calcWidth: 240px;
        --fontSize: 1.2rem;
        --toggleButtonW: 30px;
        --toggleButtonH: 15px;
        --toggleKnob: 11px;
        --equalFont: 0.9rem;
        --resultFont: 1.2rem;
        --inputFont: 0.9rem;
        --blueCharFont: 0.8rem;
    }
} */

h1 {
    font-size: var(--fontSize);
    width: var(--calcWidth);
}

.mainBody {
    height: 85vh;
    display: flex;
    justify-content: center;
}

.calcBody {
    height: var(--calcHeight);
    width: var(--calcWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background-color: var(--calcBody);
    transition: var(--transitionDelay);

}

.screen {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--calcText);
}

.keys {
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 4%;
    row-gap: 3%;
}

.outputText {
    width: 100%;
    height: 60%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    transition: var(--transitionDelay);

}

.blueText {
    font-size: var(--equalFont);
    color: #56cbdb;
    font-weight: 900;
}

.result {
    font-size: var(--resultFont);
}

.inputText {
    width: 100%;
    height: 40%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding: 0px 1rem 1rem 0px;
    font-size: var(--inputFont);
    overflow: hidden;
    transition: var(--transitionDelay);

}

.buttons {
    width: 100%;
    height: 100%;

}

.plusKey {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
}

.buttons button {
    background-color: var(--buttonsColor);
    border-radius: 10px;
    /* background-color: transparent; */
    border-width: 0;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--calcText);
    transition: var(--transitionDelay);
}

.buttons button:hover {
    background-color: var(--hoverColor);
}

.blueKeys button {
    color: white;
    font-size: 1.3rem;
    background-color: #56cbdb;
}

.blueKeys button:hover {
    background-color: #00A6FB;
}

.blueChar {
    color: #56cbdb;
    font-size: var(--blueCharFont);
}

.Heading {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.theme-toggle-button {
    position: relative;
    width: var(--toggleButtonW);
    height: var(--toggleButtonH);
    border-radius: 15px;
    background-color: var(--buttonsColor);
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
}

.toggle-knob {
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--toggleKnob);
    height: var(--toggleKnob);
    border-radius: 50%;
    background-color: var(--background-color);
    transition: var(--transitionDelay);
}

.active .toggle-knob {
    transform: translateX(30px);
}

button:hover {
    cursor: pointer;
}

.icons {
    width: var(--calcWidth);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.icon {
    font-size: var(--iconSize);
}

/* LVHA */
a {
    transition: var(--transitionDelay);
}

a:link,
a:visited {
    color: var(--calcBody);
}

a:hover {
    color: #00A6FB;
}

a:active {
    color: var(--mainText);
}